<div class="menu">
  <div class="menu__left" [routerLink]="'/' + transloco.getActiveLang()">
    <img src="/img/logo.jpg" class="menu__left__logo"/>
    <div class="menu__left__title">WDA UA e.V.</div>
  </div>
  <div class="menu__right">
    <div class="button" [routerLink]="'/' + transloco.getActiveLang() + '/news'">{{ 'menu.news' | transloco }}</div>
    <div class="button" [routerLink]="'/' + transloco.getActiveLang() + '/calendar'">{{ 'menu.calendar' | transloco }}</div>
    @switch (transloco.getActiveLang()) {
      @case ("de") {
        <div class="button lang" [routerLink]="langUrl">
          <div class="gray">ukr</div>
          <div>/</div>
          <div class="selected">de</div>
        </div>
      }
      @case ("ua") {
        <div class="button lang" [routerLink]="langUrl">
          <div class="selected">ukr</div>
          <div>/</div>
          <div class="gray">de</div>
        </div>
      }
    }
  </div>
</div> 